@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
}

.primary-btn {
  @apply inline-flex items-center justify-center rounded-lg bg-blue-600 px-5 py-2.5 text-sm font-semibold text-white
         shadow-sm transition
         hover:bg-blue-700
         focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2
         active:scale-95;
}

.secondary-btn {
  @apply inline-flex items-center justify-center rounded-lg border border-gray-300 px-5 py-2.5 text-sm font-medium text-gray-700
         transition
         hover:bg-gray-100
         focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-offset-2;
}

.soft-btn {
  @apply inline-flex items-center justify-center rounded-lg bg-blue-50 px-5 py-2.5 text-sm font-medium text-blue-600
         transition
         hover:bg-blue-100
         focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2;
}
